* {
    font-family: "JetBrainsMono NFM, Noto Sans Mono CJK KR, Noto Sans Mono CJK HK, Noto Sans Mono CJK JP, Noto Sans Mono CJK SC, Noto Sans Mono CJK TC";
    font-size: 14px;
    min-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

window#waybar {
    background: rgba(34, 36, 54, 0);
    color: #c8d3f5;
}

tooltip {
    background: rgba(34, 36, 54, 0.85);
    border: 1px solid #c099ff;
}

tooltip label {
    color: #c8d3f5;
}

.modules-left {
    margin-left: 24px;
}

.modules-right {
    margin-right: 24px;
}

.modules-left, .modules-center, .modules-right {
    margin-top: 4px;
    margin-bottom: 0px;
    border-radius: 32px;
    background: rgba(55, 58, 87, 0.5);
    padding-left: 8px;
    padding-right: 8px;
}

#clock, #mpd, #memory, #custom-headset {
    margin: 6px;
    padding-left: 2px;
    padding-right: 2px;
}

#tray {
    padding-right: 12px;
}

#tags {
    margin: 6px;
    border-radius: 32px;
    background: rgba(34, 36, 54, 1);
}

#tags button {
    padding-left: 6px;
    padding-right: 6px;
    background: rgba(34, 36, 54, 1);
    color: #c8d3f5;
    box-shadow: none;
}

#tags button:hover {
    background: rgba(55, 58, 87, 1);
    box-shadow: none;
}

#tags button.focused {
    color: #c099ff;
    box-shadow: none;
    margin-bottom: -3px;
    border-bottom-width: 3px;
    border-bottom-color: #c099ff;
}

#tags button.occupied {
    color: #82aaff;
    box-shadow: none;
}

#tags button.urgent {
    color: #ff757f;
    box-shadow: none;
}

#mode {
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
    background: rgba(34, 36, 54, 1);
}
