configuration {
    /* misc config */
    modi: "window,run,dmenu,drun,filebrowser";
    terminal: "kitty";

    /* fish compat */
    run-command: "fish -c '{cmd}'";
    run-list-command: "fish -c functions";

    display-run: " ";
    display-dmenu: " ";
    display-drun: "  ";
    display-window: "  ";
    display-calc: " ";

    drun-display-format: "{icon} {name}";
    font: "monospace 12";
    show-icons: true;
}

@theme "tokyonight"

/* vim:ft=css
